{% load render_partial %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'links/header-references.html' %}
    {% block header-referense %}

    {% endblock %}
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
</head>
<body dir="rtl">
{% render_partial 'homeModule.views.headerPartialView' %}

{% block content %}

{% endblock %}

{% render_partial 'homeModule.views.footerPartialView' %}


{% include 'links/footer-references.html' %}
{% block footer-references %}

{% endblock %}
</body>
</html>