<!-- Header top bar -->
<div class="top-bar">
    <div class="container">
        <div class="top-bar-left">
            <ul class="list-inline">
                <li class="icon-user"><a href="login.html"><img src="assets/img/icon-1.png" alt=""/> <span>Login</span></a>
                </li>
                <li class="icon-form"><a href="login.html"><img src="assets/img/icon-2.png" alt=""/> <span>Not a Member? <span
                        class="colored">Sign Up</span></span></a></li>
                <li><a href="https://www.mellatweb.com/"><i class="fa fa-envelope"></i> <span>Mellatweb.com</span></a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="list-inline">
                <li class="hidden-xs"><a href="about.html">About</a></li>
                <li class="hidden-xs"><a href="blog.html">Blog</a></li>
                <li class="hidden-xs"><a href="contact.html">Contact</a></li>
                <li class="hidden-xs"><a href="faq.html">FAQ</a></li>
                <li class="hidden-xs"><a href="wishlist.html">My Wishlist</a></li>
                <li class="dropdown currency">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">€ EURO<i
                            class="fa fa-angle-down"></i></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">€ EURO</a></li>
                        <li><a href="#">€ EURO</a></li>
                        <li><a href="#">€ EURO</a></li>
                    </ul>
                </li>
                <li class="dropdown flags">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/img/flag.gif" alt=""/>
                        Eng<i class="fa fa-angle-down"></i></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#"><img src="/static/img/flag.gif" alt=""/> Eng</a></li>
                        <li><a href="#"><img src="/static/img/flag.gif" alt=""/> Eng</a></li>
                        <li><a href="#"><img src="/static/img/flag.gif" alt=""/> Eng</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Header top bar -->

<!-- HEADER -->
<header class="header">
    <div class="header-wrapper">
        <div class="container">

            <!-- Logo -->
            <div class="logo">
                <a href="index.html"><img src="/static/img/logo-bella-shop.png" alt="Bella Shop"/></a>
            </div>
            <!-- /Logo -->

            <!-- Header search -->
            <div class="header-search">
                <input class="form-control" type="text" placeholder="What are you looking?"/>
                <button><i class="fa fa-search"></i></button>
            </div>
            <!-- /Header search -->

            <!-- Header shopping cart -->
            <div class="header-cart">
                <div class="cart-wrapper">
                    <a href="wishlist.html" class="btn btn-theme-transparent hidden-xs hidden-sm"><i
                            class="fa fa-heart"></i></a>
                    <a href="compare-products.html" class="btn btn-theme-transparent hidden-xs hidden-sm"><i
                            class="fa fa-exchange"></i></a>
                    <a href="#" class="btn btn-theme-transparent" data-toggle="modal" data-target="#popup-cart"><i
                            class="fa fa-shopping-cart"></i> <span class="hidden-xs"> 0 item(s) - $0.00 </span> <i
                            class="fa fa-angle-down"></i></a>
                    <!-- Mobile menu toggle button -->
                    <a href="#" class="menu-toggle btn btn-theme-transparent"><i class="fa fa-bars"></i></a>
                    <!-- /Mobile menu toggle button -->
                </div>
            </div>
            <!-- Header shopping cart -->

        </div>
    </div>
    <div class="navigation-wrapper">
        <div class="container">
            <!-- Navigation -->
            <nav class="navigation closed clearfix">
                <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                <ul class="nav sf-menu">
                    <li class="active"><a href="index.html">Homepage</a>
                        <ul>
                            <li><a href="index.html">Homepage 1</a></li>
                            <li><a href="index-2.html">Homepage 2</a></li>
                            <li><a href="index-3.html">Homepage 3</a></li>
                            <li><a href="index-4.html">Homepage 4</a></li>
                            <li><a href="index-5.html">Homepage 5</a></li>
                            <li><a href="index-6.html">Homepage 6</a></li>
                            <li><a href="index-7.html">Homepage 7</a></li>
                            <li><a href="index-8.html">Homepage 8</a></li>
                            <li><a href="index-9.html">Homepage 9</a></li>
                        </ul>
                    </li>
                    <li><a href="category.html">Shop</a>
                        <ul>
                            <li><a href="category.html">Shop Sidebar Left</a></li>
                            <li><a href="category-right.html">Shop Sidebar Right</a></li>
                            <li><a href="category-list.html">Shop List View</a></li>
                            <li><a href="product-details.html">Product Page</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a>
                        <ul>
                            <li><a href="blog.html">Blog Sidebar Left </a></li>
                            <li><a href="blog-right.html">Blog Sidebar Right</a></li>
                            <li><a href="blog-post.html">Blog Single Post</a></li>
                        </ul>
                    </li>
                    <li><a href="portfolio.html">Portfolio</a>
                        <ul>
                            <li><a href="portfolio.html">Portfolio 3 columns</a></li>
                            <li><a href="portfolio-4col.html">Portfolio 4 columns</a></li>
                            <li><a href="portfolio-alt.html">Portfolio Alternate</a></li>
                            <li><a href="portfolio-single.html">Portfolio Single</a></li>
                        </ul>
                    </li>
                    <li class="megamenu"><a href="#">Features</a>
                        <ul>
                            <li class="row">
                                <div class="col-md-2">
                                    <h4 class="block-title"><span>Womens</span></h4>
                                    <ul>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Rompers & Jumpsuits</a></li>
                                        <li><a href="#">Bodysuits</a></li>
                                        <li><a href="#">Shirts & Blouses</a></li>
                                        <li><a href="#">Coats & Jackets</a></li>
                                        <li><a href="#">Blazers</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="block-title"><span>Mens</span></h4>
                                    <ul>
                                        <li><a href="#">T-Shirts & Vests</a></li>
                                        <li><a href="#">Sweaters & Cardigans</a></li>
                                        <li><a href="#">Hoodies & Sweats</a></li>
                                        <li><a href="#">Coats & Jackets</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">Shorts</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h4 class="block-title"><span>Pages</span></h4>
                                    <ul>
                                        <li><a href="shortcodes.html"><strong>Shortcodes</strong></a></li>
                                        <li><a href="typography.html"><strong>Typography</strong></a></li>
                                        <li><a href="coming-soon.html"><strong>Coming soon</strong></a></li>
                                        <li><a href="error-page.html"><strong>404 Page</strong></a></li>
                                        <li><a href="about.html"><strong>About</strong></a></li>
                                        <li><a href="login.html"><strong>Login</strong></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h4 class="block-title"><span>Paragraph</span></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                    <p>Suspendisse molestie est nec tortor placerat, vel pellentesque metus
                                        sollicitudin. Suspendisse congue sem mauris, at ultrices felis blandit non.</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-list">
                                        <div class="media">
                                            <a class="pull-left media-link" href="#">
                                                <img class="media-object"
                                                     src="/static/img/preview/shop/top-sellers-2.jpg" alt="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">Standard Product Header</a></h4>
                                                <div class="rating">
                                                    <span class="star"></span><!--
                                                        --><span class="star active"></span><!--
                                                        --><span class="star active"></span><!--
                                                        --><span class="star active"></span><!--
                                                        --><span class="star active"></span>
                                                </div>
                                                <div class="price">
                                                    <ins>$400.00</ins>
                                                    <del>$425.00</del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <a class="pull-left media-link" href="#">
                                                <img class="media-object"
                                                     src="/static/img/preview/shop/top-sellers-3.jpg" alt="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">Standard Product Header</a></h4>
                                                <div class="rating">
                                                    <span class="star"></span><!--
                                                        --><span class="star active"></span><!--
                                                        --><span class="star active"></span><!--
                                                        --><span class="star active"></span><!--
                                                        --><span class="star active"></span>
                                                </div>
                                                <div class="price">
                                                    <ins>$400.00</ins>
                                                    <del>$425.00</del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="category.html">Men</a></li>
                    <li><a href="category.html">Women</a></li>
                    <li><a href="category.html">Kids</a></li>
                    <li><a href="category.html">New</a></li>
                    <li class="sale"><a href="category.html">Sale</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <!-- /Navigation -->
        </div>
    </div>
</header>
<!-- /HEADER -->