{% extends 'base/_layout.html' %}

{% block title %}
    ورود
{% endblock %}


{% block content %}
    <!-- start content -->

    <div class="content">
        <div class="container-fluid padding">
            <div class="auth">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="content-box auth-front">
                            <div class="container-fluid">
                                <div class="auth-action text-center">
                                    <a href="{% url 'loginPage' %}"
                                       class="btn btn-lg bg-white shadow-md fw-bold font-18">ورود به
                                        سایت</a>
                                    <a href="{% url 'registerPage' %}" class="btn btn-lg font-18 ms-2">عضویت در سایت</a>
                                </div>

                                <div class="auth-form mt-80 py-4">
                                    <form action="" method="post" id="login-form">
                                        {% csrf_token %}
                                        <div class="mb-4 form-avatar text-center">
                                            <img src="/static/img/user-avatar.svg" width="100" alt="">
                                        </div>

                                        <div class="comment-item mb-3">
                                            <input name="email" type="email" class="form-control"
                                                   id="floatingInputEmail">
                                            <label for="floatingInputEmail" class="form-label label-float">ایمیل خود را
                                                وارد
                                                کنید</label>
                                        </div>

                                        <div class="comment-item mt-4 position-relative">
                                            <input name="password" type="password" class="form-control"
                                                   id="floatingInputPasswd">
                                            <label for="floatingInputPasswd" class="form-label label-float">رمز عبور خود
                                                را
                                                وارد
                                                کنید</label>
                                        </div>
                                        <p class="text-danger text-center" id="login-error">

                                        </p>
                                        <input type="hidden" id="login-messageBack">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <div class="form-check my-4">
                                                    <div class="d-flex">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               id="flexCheckChecked" checked>
                                                        <label class="form-check-label mt-1" for="flexCheckChecked">
                                                            مرا به خاطر بسپار
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="text-end">
                                                    <a class="text-primary" href="{% url 'forget-password' %}">فراموشی رمزعبور</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-0">
                                            <button type="submit" class="btn main-color-one-bg w-100 py-3"
                                                    id="login-button">
                                                ورود به سایت
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br>

{% endblock %}

{% block footer-references %}
        <script src="/static/js/data/userModule-js/login.js"></script>
{% endblock %}