{% extends 'base/_layout.html' %}

{% block header-referense %}
    <script src="/static/js/data/productsModule/products_functions.js"></script>
{% endblock %}

{% block title %}
    به فروشگاه لباس خوش آمدید
{% endblock %}

{% block content %}
    <!-- slider -->
    {% if request.user.is_authenticated %}
        <input type="hidden" id="is-login" value="{{ request.user.id }}">
    {% else %}
        <input type="hidden" id="is-login" value="None">
    {% endif %}
    <div class="main-slider py-20">
        <div class="container-fluid">
            <div class="row gy-4">
                <div class="col-lg-9">
                    <div class="home-slider shadow-box">

                        <div class="slider__layer slider__layer--top"
                             style="background-color: #000000; right: -13px; top: 20px; bottom: 20px;"></div>
                        <div class="slider__layer slider__layer--bottom"
                             style="background-color: #000; right: -25px; top: 40px; bottom: 40px;"></div>

                        <div class="swiper homeSlider" id="">
                            <div class="swiper-wrapper" id="slider-image">
                                {% for image in images %}
                                    <div class="swiper-slide">
                                        <a href="{% url 'products-category' 'ساعت-ها' 1 %}">
                                            <img alt="" class="img-fluid" loading="lazy" src="{{ image.image.url }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next d-lg-flex d-none"></div>
                            <div class="swiper-button-prev d-lg-flex d-none"></div>
                            <div class="swiper-pagination-bg">
                                <div>
                                    <svg fill="none" height="75" viewBox="0 0 231 75" width="231"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd"
                                              d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z"
                                              fill="#FCFCFC"
                                              fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="swiper suggetMoment">
                        <div class="swiper-wrapper position-relative" id="amazing_slider">
                            <script src="/static/js/data/homeModule/home-page-amazing-slider.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /slider -->

    <!-- start shop feature -->

    <div class="shop-feature py-30">
        <div class="container-fluid">
            <div class="shop-feature-parent">
                <div class="row justify-content-center g-2 row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">

                    <div class="col">
                        <div class="shop-feature-item shadow-top">
                            <img alt="" src="/static/img/icon/box.png">
                            <h5 class="mt-2">تحویل اکسپرس</h5>
                        </div>
                    </div>

                    <div class="col">
                        <div class="shop-feature-item shadow-bottom">
                            <img alt="" src="/static/img/icon/headphone.png">
                            <h5 class="mt-2"> پشتیبانی آنلاین</h5>
                        </div>
                    </div>

                    <div class="col">
                        <div class="shop-feature-item shadow-top">
                            <img alt="" src="/static/img/icon/money.png">
                            <h5 class="mt-2"> پرداخت در محل</h5>
                        </div>
                    </div>

                    <div class="col">
                        <div class="shop-feature-item shadow-bottom">
                            <img alt="" src="/static/img/icon/safe.png">
                            <h5 class="mt-2"> ضمانت کالا</h5>
                        </div>
                    </div>

                    <div class="col">
                        <div class="shop-feature-item shadow-top">
                            <img src="/static/img/icon/seven.png" alt="">
                            <h5 class="mt-2"> هفت روز ضمانت بازگشت</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- /shop feature -->

    <!-- start slider category -->

    <div class="slider-category free-swiper py-30">
        <div class="container-fluid position-relative">

            <div class="section-title">
                <div class="row gy-3 align-items-center">
                    <div class="col-sm-8">
                        <div class="section-title-title">
                            <h2 class="title-font h1 main-color-three-color">دسته بندی <span
                                    class="main-color-one-color">محصولات</span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="section-title-link text-sm-end text-start">
                            <a class="btn btn-title  rounded-pill" href="{% url 'categories' 1 %}"> مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper cat-slider">
                <div class="swiper-wrapper" id="category-slider">

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

    <!-- /slider category -->

    <!-- start amazing slider -->

    <div class="amazing-slider py-6 0 my-30">
        <div class="container-fluid">
            <div class="amazing-slider-parent site-slider content-box slider-parent">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="section-title">
                                <div class="d-flex align-items-center">
                                    <img src="/static/img/discount-bold-1.svg" alt="">
                                    <div class="nw-title ms-2">
                                        <h5 class="fw-lighter">پیشنهاد</h5>
                                        <h3 class="title-font main-color-one-color">شگفت <span
                                                class="main-color-three-color">انگیز</span></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="amzming-slider-image text-center">
                                <img src="/static/img/gift-ruysa-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9">

                            <div class="container-fluid">
                                <div class="swiper amazing-slider-sw">
                                    <div class="swiper-wrapper" id="amazing_slider_big">
                                        <script>
                                            fetch(amazing_sliderEndpoint, amazing_sliderOption)
                                                .then(response => response.json())
                                                .then(data => {
                                                    let big_amazing_slider = document.getElementById('amazing_slider_big')
                                                    add_products_slider(data, big_amazing_slider, true)
                                                })
                                        </script>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end amazing slider -->

    <!-- start product slider -->

    <div class="product-slider free-sw site-slider mt-5">
        <div class="container-fluid">

            <div class="section-title">
                <div class="row gy-3 align-items-center">
                    <div class="col-sm-8">
                        <div class="section-title-title">
                            <h2 class="title-font h1 main-color-three-color">محصولات<span class="main-color-one-color"> پرفروش </span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="section-title-link text-sm-end text-start">
                            <a class="btn btn-title  rounded-pill" href=""> مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parent parent-two">
            <div class="container-fluid">
                <div class="swiper pro-slider">
                    <div class="swiper-wrapper" id="best_selling_slider">

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- end product slider -->


    <!-- start product slider -->

    <div class="product-slider free-sw site-slider mt-5">
        <div class="container-fluid">

            <div class="section-title">
                <div class="row gy-3 align-items-center">
                    <div class="col-sm-8">
                        <div class="section-title-title">
                            <h2 class="title-font h1 main-color-three-color">محصولات<span class="main-color-one-color"> جدید ترین </span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="section-title-link text-sm-end text-start">
                            <a class="btn btn-title  rounded-pill" href=""> مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parent">
            <div class="container-fluid">
                <div class="swiper pro-slider">
                    <div class="swiper-wrapper" id="newest_slider">
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- end product slider -->

    <!-- start blog slider -->

    <!-- /blog slider -->
{% endblock %}

{% block footer-references %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/data/homeModule/home-page.js"></script>
    <script src="/static/js/plugin/countdown/countdown.js"></script>
{% endblock %}