<script>
    let baseURL = 'http://127.0.0.1:8000'
</script>
<script src="/static/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="/static/js/vendor/jquery-3.7.1.min.js"></script>
<script src="/static/js/vendor/bootstrap.bundle-5.3.2.min.js"></script>
<script src="/static/js/plugin/swiper/swiper-bundle.min.js"></script>
<script src="/static/js/plugin/rasta-contact/script.js"></script>
<script src="/static/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/data/header.js"></script>

