<script src="/static/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/static/plugins/superfish/js/superfish.min.js"></script>
<script src="/static/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script src="/static/plugins/owl-carousel2/owl.carousel.min.js"></script>
<script src="/static/plugins/jquery.sticky.min.js"></script>
<script src="/static/plugins/jquery.easing.min.js"></script>
<script src="/static/plugins/jquery.smoothscroll.min.js"></script>
<script src="/static/plugins/smooth-scrollbar.min.js"></script>