<link href="/static/css/normalize.css" rel="stylesheet">
<link href="/static/font/bootstrap-icon/bootstrap-icons.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/js/plugin/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/static/js/plugin/countdown/countdown.css" rel="stylesheet">
<link href="/static/js/plugin/rasta-contact/style.css" rel="stylesheet">
<link href="/static/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
<link href="/static/css/mega-menu.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">