<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
<link href="/static/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
<link href="/static/plugins/owl-carousel2/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/static/plugins/owl-carousel2/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="/static/plugins/animate/animate.min.css" rel="stylesheet">