{% extends 'base/_layout.html' %}

{% block title %}
    پنل کاربری
{% endblock %}

{% block content %}
    <div class="content">
        {% if request.user.is_authenticated %}
            <input type="hidden" id="is-login" value="{{ request.user.id }}">
        {% else %}
            <input type="hidden" id="is-login" value="None">
        {% endif %}
        <input type="hidden" id="num-input" value="{{ num }}">
        <div class="container-fluid">

            <div class="custom-filter d-lg-none d-block">
                <button class="btn btn-filter-float border-0 main-color-one-bg shadow-box px-4 rounded-3 position-fixed"
                        style="z-index: 999;bottom:80px;" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="bi bi-list font-20 fw-bold text-white"></i>
                    <span class="d-block font-14 text-white">منو</span>
                </button>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight"
                     aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title">منو</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" id="close-button"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="position-sticky top-0">
                            <div class="penel-nav-seller">
                                <div class="profile-box mb-3 d-flex flex-column justify-content-center align-items-center">
                                    <div class="profile-box-image">
                                        <img src="/static/img/user-avatar.svg" alt="">
                                    </div>
                                    <div class="profile-box-desc mt-2">
                                        <h6 class="text-center">{{ request.user.name }}</h6>
                                        <p class="">{{ request.user.email }}</p>
                                    </div>
                                </div>
                                <div class="panel-nav-nav">
                                    <ul class="rm-item-menu navbar-nav">
                                        <li class="nav-item active" id="orders-button-mobile">
                                        <a class="nav-link" href="">
                                            <i class="bi bi-cart-check box-icon"></i><span class="panel-active"
                                                                                           id="orders-text-mobile"> سفارش های من </span></a>
                                    </li>
                                    <li class="nav-item" id="change-password-button-mobile">
                                        <a class="nav-link" href="">
                                            <i class="bi bi-shield box-icon"></i><span class=""
                                                                                       id="change-password-text-mobile">تغیر رمز عبور</span></a>
                                    </li>
                                    <li class="nav-item" id="address-button-mobile">
                                        <a class="nav-link" href="">
                                            <i class="bi bi-pin-map box-icon"></i><span class="" id="address-text-mobile">آدرس های من</span></a>
                                    </li>
                                    <li class="nav-item" id="favorites-button-mobile">
                                        <a class="nav-link" href="">
                                            <i class="bi bi-heart box-icon"></i><span class="" id="favorites-text-mobile">محصولات مورد علاقه</span></a>
                                    </li>

                                    <li class="nav-item" id="log-out-button">
                                        <a class="nav-link" href="{% url 'log-out' 1 %}">
                                            <i class="bi bi-arrow-right-square box-icon"></i><span class=""
                                                                                                   id="log-out-text">خروج از حساب کاربری</span></a>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gy-4">
                <div class="col-lg-3 d-lg-block d-none">
                    <div class="position-sticky top-0">
                        <div class="penel-nav-seller">
                            <div class="profile-box mb-3 d-flex flex-column justify-content-center align-items-center">
                                <div class="profile-box-image">
                                    <img src="/static/img/user-avatar.svg" alt="">
                                </div>
                                <div class="profile-box-desc mt-2">
                                    <h6 class="text-center">{{ request.user.name }}</h6>
                                    <p class="">{{ request.user.email }}</p>
                                </div>
                            </div>
                            <div class="panel-nav-nav">
                                <ul class="rm-item-menu navbar-nav">
                                    <li class="nav-item active" id="orders-button">
                                        <a class="nav-link" href="">
                                            <i class="bi bi-cart-check box-icon"></i><span class="panel-active"
                                                                                           id="orders-text"> سفارش های من </span></a>
                                    </li>
                                    <li class="nav-item" id="change-password-button">
                                        <a class="nav-link" href="">
                                            <i class="bi bi-shield box-icon"></i><span class=""
                                                                                       id="change-password-text">تغیر رمز عبور</span></a>
                                    </li>
                                    <li class="nav-item" id="address-button">
                                        <a class="nav-link" href="">
                                            <i class="bi bi-pin-map box-icon"></i><span class="" id="address-text">آدرس های من</span></a>
                                    </li>
                                    <li class="nav-item" id="favorites-button">
                                        <a class="nav-link" href="">
                                            <i class="bi bi-heart box-icon"></i><span class="" id="favorites-text">محصولات مورد علاقه</span></a>
                                    </li>

                                    <li class="nav-item" id="log-out-button">
                                        <a class="nav-link" href="{% url 'log-out' 1 %}">
                                            <i class="bi bi-arrow-right-square box-icon"></i><span class=""
                                                                                                   id="log-out-text">خروج از حساب کاربری</span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------------------->
                <div class="col-lg-9 dis-block" id="orders">
                    <div class="panel-latest-order mt-4">

                        <div class="section-title">
                            <div class="section-title-title">
                                <h3 class="title-font h3 main-color-three-color">آخرین<span
                                        class="main-color-one-color"> سفارشات </span>
                                </h3>
                            </div>
                        </div>

                        <div class="table-responsive shadow-box roundedTable p-0">
                            <table class="table  main-table rounded-0">
                                <thead class="text-center">
                                <tr>
                                    <th class="title-font">#</th>
                                    <th class="title-font">شماره سفارش</th>
                                    <th class="title-font">تاریخ ثبت سفارش</th>
                                    <th class="title-font">مبلغ پرداختی</th>
                                    <th class="title-font">وضعیت سفارش</th>
                                    <th class="title-font">جزییات</th>
                                </tr>
                                </thead>
                                <tbody class="text-center" id="orders-list">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="my-paginate mt-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center" id="pagination-div">

                            </ul>
                        </nav>
                    </div>
                </div>
                <!-------------------->
                <div class="col-lg-9 dis-none" id="order_detail">
                    <div class="content-box bg-white shadow-box">
                        <div class="container-fluid">
                            <div class="d-flex flex-wrap justify-content-sm-between align-items-baseline border-bottom">
                                <h5 class="font-18 pb-3">
                                    <a class="me-3" href=""><i class="bi bi-chevron-right"></i></a>
                                    جزئیات سفارش
                                    <span class="ms-2 font-14 text-muted">
                                        (پرداخت شده)
                                    </span>
                                </h5>
                                <div>
                                    <div class=" d-inline-block me-3" id="order-id-div">
                                        <span class="main-color-one-color fw-bold">شماره سفارش:</span> 3855384
                                    </div>
                                    <div class="d-inline-block" id="order-data-time-div">
                                        <i class="bi bi-clock-fill me-2"></i>
                                        1401/12/25 - 17:06:15
                                    </div>
                                </div>
                            </div>

                            <div class="detail-order mt-3">
                                <div class="detail-order-item d-flex align-items-center">
                                    <h6><i class="bi bi-pin-map-fill me-1"></i> آدرس تحویل:</h6>
                                    <span class="ms-2 text-muted" id="order-address-div">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span>
                                </div>
                                <div class="detail-order-item mt-3 d-flex align-items-center">
                                    <h6><i class="bi bi-person-fill me-1"></i>تحویل گیرنده:</h6>
                                    <span class="ms-2 text-muted">{{ request.user.name }}</span>
                                </div>
                                <div class="detail-order-item mt-3 d-flex align-items-center">
                                    <h6><i class="bi bi-telephone-fill me-1"></i>ایمیل:</h6>
                                    <span class="ms-2 text-muted">{{ request.user.email }}</span>
                                </div>
                            </div>

                            <ul class="row gy-3 ps-0 mt-4" id="order-products-list">

                            </ul>
                        </div>
                    </div>
                    <div class="order-details__bill">
                        <div class="order-details__bill-title">
                            <span class="bold-text">جزئیات قیمت</span>
                            <div class="order-details__bill-icon order-details__bill-icon--colored"></div>
                        </div>
                        <div class="order-details__bill-details">
                            <div class="order-details__bill-row order-details__bill-row--top">
                                <div class="bill-row__col">
                                    <label>جمع مبلغ کالاها:</label>
                                    <div class="cart__item-price" id="sum-prices-div">25,000,000 <span>تومان</span></div>
                                </div>
                                <div class="bill-row__col">
                                    <label>مجموع تخفیف ها:</label>
                                    <div class="cart__item-price" id="sum-discounts-div">5,000,000 <span>تومان</span></div>
                                </div>
                            </div>
                            <div class="order-details__bill-row order-details__bill-row--top">
                                <div class="bill-row__col">
                                    <label> هزینه ارسال و بسته بندی: </label>
                                    <div class="cart__item-price">0<span>تومان</span></div>
                                </div>
                                <div class="bill-row__col">
                                    <label class="me-1"> مبلغ پرداخت شده: </label>
                                    <div class="cart__item-price main-color-green-color" id="finall-price-div">90,000,000 <span>تومان</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-------------------->
                <div class="col-lg-9 dis-none" id="address">
                    <div class="section-title">
                        <div class="section-title-title">
                            <h3 class="title-font h3 main-color-three-color">آدرس های<span class="main-color-one-color"> ثبت شده </span>
                            </h3>
                        </div>
                    </div>
                    <div class="content-box slider-parent rounded-4">
                        <div class="container-fluid">
                            <div class="row" id="address-list">
                            </div>
                            <div class="da-action" id="add-address-button">
                                <a href="" class="btn main-color-one-bg border-0 btn-lg">افزودن آدرس</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-------------------->
                <div class="col-lg-9 dis-none" id="address-create">
                    <div class="section-title">
                        <div class="section-title-title">
                            <h3 class="title-font h3 main-color-three-color">ثبت<span
                                    class="main-color-one-color"> آدرس </span>
                            </h3>
                        </div>
                    </div>
                    <div class="content-box slider-parent rounded-4">
                        <div class="container-fluid">
                            <form action="" id="address-form">
                                {% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-md-6">
                                        <div class="comment-item" for="floatingInputOstan1">
                                            <label class="label-float fw-bold">استان <span class="text-danger">*</span></label>

                                            <select name="" id="floatingInputOstan1" class="form-select">
                                                <option value="تهران">تهران</option>
                                                <option value="اصفهان">اصفهان</option>
                                                <option value="خراسان رضوی">خراسان رضوی</option>
                                                <option value="خراسان شمالی">خراسان شمالی</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="comment-item">
                                            <label class="label-float fw-bold" for="floatingInputCity1">شهر <span
                                                    class="text-danger">*</span></label>

                                            <select name="" id="floatingInputCity1" class="form-select">
                                                <option value="کرج">کرج</option>
                                                <option value="خرم آباد">خرم آباد</option>
                                                <option value="نور آباد">نور آباد</option>
                                                <option value="مشهد">مشهد</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="comment-item mb-3">
                                            <input type="text" class="form-control" id="floatingInputStreet1"
                                                   placeholder="آدرس خود را وارد کنید ...">
                                            <label for="floatingInputStreet1" class="form-label label-float fw-bold">آدرس
                                                خیابان</label>
                                        </div>
                                    </div>
                                    <p class="text-danger text-center" id="address-error"></p>
                                    <div class="col-12">
                                        <button type="submit" class="btn main-color-one-bg px-3 py-2" id="save-address">
                                            ثبت آدرس
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-------------------->
                <div class="col-lg-9 dis-none" id="favorites">
                    <div class="section-title">
                        <div class="section-title-title">
                            <h3 class="title-font h3 main-color-three-color">محصولات<span class="main-color-one-color"> موردعلاقه </span>
                            </h3>
                        </div>
                    </div>
                    <div class="content-box slider-parent rounded-4">
                        <div class="container-fluid">
                            <ul class="row gy-3 ps-0" id="favorite-products-list">

                            </ul>
                            <div class="my-paginate mt-5">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center" id="favorite-pagination-div">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
                <!-------------------->
                <div class="col-lg-9 dis-none" id="change-password">
                    <div class="section-title">
                        <div class="section-title-title">
                            <h3 class="title-font h3 main-color-three-color">ویرایش<span class="main-color-one-color"> رمزعبور </span>
                            </h3>
                        </div>
                    </div>
                    <div class="content-box slider-parent rounded-4">

                        <div class="container-fluid">
                            <form method="" action="">
                                {% csrf_token %}
                                <div class="row gy-2">
                                    <div class="col-sm-4">
                                        <div class="comment-item mb-3">
                                            <input type="text" class="form-control" id="floatingInputoldPasswd"
                                                   placeholder="رمز عبور قبلی خود را وارد کنید ...">
                                            <label for="floatingInputoldPasswd" class="form-label label-float fw-bold">رمزعبور
                                                قبلی</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="comment-item mb-3">
                                            <input type="text" class="form-control" id="floatingInputNewPasswd"
                                                   placeholder="رمز عبور جدید خود را وارد کنید ...">
                                            <label for="floatingInputNewPasswd" class="form-label label-float fw-bold">رمزعبور
                                                جدید</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="comment-item mb-3">
                                            <input type="text" class="form-control" id="floatingInputConfirmPasswd"
                                                   placeholder="رمز عبور جدید خود را دوباره بنویسید ...">
                                            <label for="floatingInputConfirmPasswd"
                                                   class="form-label label-float fw-bold">تکرار رمزعبور جدید</label>
                                        </div>
                                    </div>
                                    <p class="text-danger text-center my-md-1" id="change-password-error"></p>
                                    <div class="col-12">
                                        <input type="submit" value="تغییر"
                                               class="btn main-color-one-bg px-5 w-100-in-400 pt-2"
                                               id="save-new-password-button">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer-references %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/data/userPanelModule/userPanel-functions.js"></script>
    <script src="/static/js/data/productsModule/products_functions.js"></script>
    <script src="/static/js/data/userPanelModule/change-page.js"></script>
    <script src="/static/js/data/userPanelModule/favorites-products.js"></script>
    <script src="/static/js/data/userPanelModule/address-page.js"></script>
    <script src="/static/js/data/userPanelModule/change-password.js"></script>
    <script src="/static/js/data/userPanelModule/orders-page.js"></script>
{% endblock %}